<ng-container *ngIf="data$ | async as data">
    <ng-container *ngIf="data.post as post">
        <h1>
            <app-typewriter
                    [characterDelay]="20"
                    waitForWriter="post-author"
                    writerKey="post-title" [content]="'„' + post.post.title + '”'"
            />
        </h1>

        <p>
            <span class="author">
                <app-typewriter
                        [characterDelay]="5"
                        [cursorTimeout]="0"
                        writerKey="post-author"
                        [content]="'a thought by ' + trim(data.alias)"
                />
            </span>

            <br>

            <span *ngIf="data.post.psTo as ps" class="ps" routerLink="/read/{{ps.hash}}">
                <app-typewriter
                        [characterDelay]="5"
                        [cursorTimeout]="0"
                        writerKey="post-author"
                        [content]="'ps to „' + ps.title + '”'"
                />
            </span>
        </p>

        <div *appWhenWriterFinished="'post-title'">

            <br>

            <!-- content display -->
            <p class="content">{{post.post.content}}</p>

            <br>

            <!-- stats container -->
            <div>
                <ng-container *ngIf="author$ | async as author">

                    <!-- date -->
                    <p>
                        ~ <span class="date">{{(post.post.timestamp * 1000) | date:"short"}}</span>
                    </p>

                    <!-- access, favorite counter -->
                    <p>
                        ~ <span class="counter">{{data.post.stats.accesses}} read, {{data.post.stats.favorites}} fav</span>
                    </p>

                    <!-- favorite button -->
                    <p>
                        ~
                        <ng-container *ngIf="author.address === post.post.authorAddress">
                            <span class="not-favorizable">one of your thoughts</span>
                        </ng-container>

                        <ng-container *ngIf="author.address !== post.post.authorAddress">
                            <span class="favorite"
                                  *ngIf="!author.favorites.includes(post.post.hash); else favorite"
                                  (click)="addFavorite(post.post.hash)"
                            >
                                add to favorite thoughts
                            </span>
                            <ng-template #favorite>
                                <span class="not-favorizable">one of your favorite thoughts</span>
                            </ng-template>
                        </ng-container>

                        <!-- ps button -->
                        , <span class="ps" (click)="writePs(post.post.hash)">write a ps</span>
                    </p>

                    <!-- posts that reference this one -->
                    <ng-container *ngIf="data.post.ps && data.post.ps.length > 0">
                        <br>

                        <!-- ps header -->
                        <p>
                            ~ <span class="counter">post scriptum</span>
                        </p>

                        <p class="ps" *ngFor="let ps of data.post.ps" routerLink="/read/{{ps.hash}}">
                             „{{ps.title}}”
                        </p>

                    </ng-container>
                </ng-container>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="data.preview as preview">

        <h1>
            <app-typewriter
                    [characterDelay]="20"
                    waitForWriter="post-author"
                    writerKey="post-title" [content]="'„' + preview.title + '”'"
            />
        </h1>

        <p class="author">
            <app-typewriter
                    [characterDelay]="5"
                    [cursorTimeout]="0"
                    writerKey="post-author"
                    [content]="'a thought by ' + trim(data.alias)"
            />
        </p>

        <div *appWhenWriterFinished="'post-title'">

            <p>you do not have access to this thought yet. </p>
            <app-button
                    content="unlock thought"
                    (click)="unlockPost(preview.hash)"
            />

            <br>

            <p>
                <span class="date">{{(preview.timestamp * 1000) | date:"short"}}</span>
            </p>
        </div>

    </ng-container>


</ng-container>
