<ng-container *ngIf="data$ | async as data">
    <ng-container *ngIf="data.post as post">
        <h1>
            <app-typewriter
                    [characterDelay]="20"
                    waitForWriter="post-author"
                    writerKey="post-title" [content]="'„' + post.title + '”'"
            />
        </h1>

        <p class="author">
            <app-typewriter
                    [characterDelay]="5"
                    [cursorTimeout]="0"
                    writerKey="post-author"
                    [content]="'a thought by ' + trim(data.alias)"
            />
        </p>

        <div *appWhenWriterFinished="'post-title'">

            <!-- content display -->
            <p class="content">{{post.content}}</p>

            <br>

            <!-- stats container -->
            <div>
                <ng-container *ngIf="stats$ | async as stats">

                    <!-- date -->
                    <p>
                        ~ <span class="date">{{(post.timestamp * 1000) | date:"short"}}</span>
                    </p>

                    <!-- access, favorite counter -->
                    <p>
                        ~ <span class="counter">{{stats.post.accesses}} read, {{stats.post.favorites}} fav</span>
                    </p>

                    <!-- favorite button -->
                    <p>
                        ~
                        <ng-container *ngIf="stats.author.address === post.authorAddress">
                            <span class="not-favorizable">one of your thoughts</span>
                        </ng-container>

                        <ng-container *ngIf="stats.author.address !== post.authorAddress">
                            <span class="favorite"
                                  *ngIf="!stats.author.favorites.includes(post.hash); else favorite"
                                  (click)="addFavorite(post.hash)"
                            >
                                add to favorite thoughts
                            </span>
                            <ng-template #favorite>
                                <span class="not-favorizable">one of your favorite thoughts</span>
                            </ng-template>
                        </ng-container>
                    </p>

                    <!-- ps button -->
                    <p>
                        ~ <span class="ps" (click)="writePs(post.hash)">write a ps</span>
                    </p>

                    <!-- posts that reference this one -->
                    <ng-container *ngIf="stats.post.references.length > 0">
                        <br>

                        <!-- ps header -->
                        <p>
                            ~ <span class="counter">post scriptum</span>
                        </p>

                        <p *ngFor="let ps of stats.post.references">
                            {{ps}}
                        </p>

                    </ng-container>
                </ng-container>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="data.preview as preview">

        <h1>
            <app-typewriter
                    [characterDelay]="20"
                    waitForWriter="post-author"
                    writerKey="post-title" [content]="'„' + preview.title + '”'"
            />
        </h1>

        <p class="author">
            <app-typewriter
                    [characterDelay]="5"
                    [cursorTimeout]="0"
                    writerKey="post-author"
                    [content]="'a thought by ' + trim(data.alias)"
            />
        </p>

        <div *appWhenWriterFinished="'post-title'">

            <p>you do not have access to this thought yet. </p>
            <app-button
                    content="unlock thought"
                    (click)="unlockPost(preview.hash)"
            />

            <br>

            <p>
                <span class="date">{{(preview.timestamp * 1000) | date:"short"}}</span>
            </p>
        </div>

    </ng-container>


</ng-container>
