.home-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-details {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}