<div class="home" *ngIf="(author$ | async) as author">
    <h1>
        <app-typewriter
            [characterDelay]="20"
            [cursorTimeout]="2000"
            writerKey="home-title" [content]="'welcome back ~'" />
    </h1>

    <app-typewriter
            [characterDelay]="10"
            [cursorTimeout]="2000"
            waitForWriter="home-title"
            writerKey="home-info" [content]="'chain of thought is a space for thinkers,\na forge to craft thoughts into precious artifacts;\nimmortalized in the consensus of the blockchain.'" />

    <div *appWhenWriterFinished="'home-intro'"  class="home-details">
        <span>alias:</span><b>{{author.alias}}</b>
        <span>balance:</span><b>{{author.balance}} thought tokens</b>
        <span>address:</span><span>{{author.address}}</span>
    </div>

    <div *appWhenWriterFinished="'home-intro'" class="home-actions">
        <app-typewriter
                [characterDelay]="10"
                [cursorTimeout]="0"
                writerKey="home-intro"
                [content]="'what\'s on your mind?'"
        />
        <app-button content="buy thought tokens" routerLink="/buy" />
        <app-button content="change alias" routerLink="/alias" />
        <app-button content="claim daily tokens" routerLink="/reward" />
    </div>
</div>


