@keyframes background-effect {
    0% {
        right: 100%;
    }

    30% {
        right: 0;
        left: 0;
    }

    60% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

.link {
    border-radius: 4px;
    padding: .5em;
    cursor: pointer;
    transition: opacity .2s, letter-spacing .2s;
    margin: 1em;
    position: relative;
    overflow: hidden;
    user-select: none;
}

h3 {
    margin: 0;
    font-weight: normal;
}

.link .background-effect {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.link:hover .background-effect {
    background: #3f3f3f;
    animation: background-effect 1s infinite;
}

.link.hidden {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}