<h1>
    <app-typewriter
        [characterDelay]="20"
        [cursorTimeout]="1000"
        writerKey="buy-title" content="buy thought tokens"
    />
</h1>

<p>
    <app-typewriter
        [characterDelay]="5"
        [cursorTimeout]="0"
        writerKey="buy-intro"
        [content]="'buy new thought tokens to increase your account balance.\nthis costs ether.\nbesides loading your balance, you also receive tokens from rewards,\nand when other people interact with your thoughts.'"
    />
</p>

<br>

<div *appWhenWriterFinished="'buy-intro'" class="buy-form">

    <label>Amount of thought tokens:</label>
    <input type="number" value="100" #amount>
    <span>Current token cost: {{price$ | async}}</span>
    <app-button content="Buy tokens" style="width:auto" (click)="buy(amount.value)"  />
</div>
