.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity .2s;
    top: 0;
}

.nav .items {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.nav.hidden {
    opacity: 0;
    height: 0;
}

.content {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

.infonav {
    opacity: .5;
    cursor: pointer;
}