<div class="page">
    <div class="nav" *ngIf="(showNav$ | async)">
        <div class="items">

            <app-link content="Home" routerLink="/home" />
            <app-link content="Posts" waitForWriter="@Home" />
            <app-link content="Write" waitForWriter="@Posts"  />
        </div>
        <span>
            <span class="infonav" (click)="exit()">exit</span>
            ==  ~  ==  ~  ==  ~  ==  ~  ==  ~  ==
            <span routerLink="/about" class="infonav">about</span>
        </span>
    </div>

    <div class="content">
        <ng-content></ng-content>
    </div>
</div>
